<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229026949839-79c2d65irvgl61runogc7l5870r0ejo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229026949839-79c2d65irvgl61runogc7l5870r0ejo4</string>
	<key>API_KEY</key>
	<string>AIzaSyDaWg-AibdYO7rPAjKT7OnRTFArkr5i2xo</string>
	<key>GCM_SENDER_ID</key>
	<string>229026949839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.getready.getReady</string>
	<key>PROJECT_ID</key>
	<string>getready-94c66</string>
	<key>STORAGE_BUCKET</key>
	<string>getready-94c66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229026949839:ios:6241b8864df35acb1825ba</string>
</dict>
</plist>